.brands {
    background: #0F0F0F;
    padding: 60px 0 80px;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
    }

    &__item {
        user-select: none;
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
}