.catalog {
    padding-top: 120px;
    padding-bottom: 150px;
    background: $color-bg;

    &__products {
        margin: 0 -11px;
    }

    &__product {
        margin: 20px 11px;
    }

    &__title2 {
        margin-bottom: 60px;
    }
}