.catalog {
    padding-top: 120px;
    padding-bottom: 150px;
    background: $color-bg;

    &__products {
        margin: 0 -15px;
    }

    &__product {
        width: calc(100% / 12 * 3 - 30px);
        margin: 20px 15px;
    }

    &__title2 {
        margin-bottom: 60px;
    }
}