.header {
    position: fixed;
    width: 100%;
    z-index: 2;

    &__top {
        background: $color-bg;

        &-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
        }
    }

    &__worktime {
        display: flex;
        margin-left: -15px;
    }

    &__text {
        margin-left: 15px;
        padding-right: 15px;
        color: $color-secondary;
        font-size: 12px;

        &:not(:last-child) {
            border-right: 1px solid $color-secondary;
        }
    }

    &__phone {
        position: relative;
        padding-left: 31px;
        color: $color-secondary;
        font-size: 12px;
        transition: color .2s;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: url('../images/icons/icons.svg#phone');
            width: 16px;
            height: 16px;
            display: block;
            color: gray;
        }

        &:hover {
            color: #999;
        }
    }

    &__login {
        color: $color-secondary;
        font-size: 12px;
        position: relative;
        padding-left: 22px;
        display: flex;

        &:before {
            content: '';
            background-image: url('../images/icons/icons.svg#login');
            width: 14px;
            height: 14px;
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &_menu {
            display: none;
        }
    }

    &__center {
        background: #0F0F0F;

        &-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__menu {
        margin-left: auto;
        margin-right: 60px;
    }

    &__cart-btn {
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
    }
}

.logo {
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'PostNoBillsJaffna', sans-serif;
}