.header {
    @media screen and (max-width: 1200px) {
        &__search {
            order: 3;
            position: relative;
            margin-right: 40px;

            &-toggle {
                display: block;
            }

            &-field {
                position: absolute;
                right: 35px;
                top: 50%;
                transform: translateY(calc(-50% - 15px));
                opacity: 1;
                transition: transform .3s, visibility .3s, opacity .3s;
                visibility: hidden;
                opacity: 0;
            }

            &_active {
                .header__search-field {
                    transform: translateY(-50%);
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        &__cart-btn {
            order: 4;
        }
    }

    @media screen and (max-width: 980px) {
        &__center {
            padding: 5px 0;
        }
        
        &__menu {
            order: 5;
            margin: 0;
            position: relative;

            .menu__list {
                position: fixed;
                right: 0;
                margin-top: 9px;
                transform: translateX(100%);
                background: $color-bg;
                transition: transform .3s;
                display: block;
            }

            .menu__link {
                padding: 15px 30px;
                color: #f1f1f1;
            }

            .toggle-menu {
                display: block;
            }
        }

        &__menu.menu_active {
            .menu__list {
                transform: translateX(0);
              }
        }

        &__center {
            &-content {
                flex-wrap: wrap;
            }
        }
    
        &__cart-btn {
            margin-left: 0;
            margin-right: 20px;
        }

        &__search {
            margin-left: auto;
            margin-right: 20px;
        }
    }   
    
    @media screen and (max-width: 620px) {
        &__search {
            position: initial;
            
            &-field {
                top: 65px;
                left: 0;
                width: 100%;
                border-radius: 2px;
                padding: 12px;
            }
        }

        &__top {
            &-content {
                padding: 0;
            }
        }

        &__contacts {
            display: none;
        }

        &__login {
            padding: 15px 15px 15px 30px;
            display: none;

            &:before {
                left: 8px;
            }

            &_menu {
                display: block;
            }
        }

        &__add-inf {
            margin-top: 40px;
        }
    }

    @media screen and (max-width: 540px) {
        &__main-inf {
            width: 260px;
            height: 260px;
        }

        &__title {
            font-size: 50px;
        }

        &__title-add {
            font-size: 17px;
        }

        &__add-inf {
            font-size: 14px;
        }
    }
}